<!-- <app-update-product></app-update-product>
<div class="row">
    <div class="col-md-3">
        <app-add-product></app-add-product>
    </div>
    <div class="col-md-9">
        <app-products></app-products>
    </div>
</div>
<app-update-product></app-update-product>
<br><br><br>
<div class="row">
    <div class="col-md-3">
        <app-add-user></app-add-user>
    </div>
    <div class="col-md-9">
        <app-view-user></app-view-user>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-md-3">
        <app-add-supplier></app-add-supplier>
    </div>
    <div class="col-md-9">
        <app-supplier-view></app-supplier-view>
    </div>
</div> -->


<app-admin-tab-group></app-admin-tab-group>