<footer class="text-center mt-4 mb-4">
    <h3 id="contactus" class="title text-center">GET IN TOUCH</h3>
    <br>
    <div class="row justify-content-center mt-4 mb-4">

        <iframe class="w-50"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0965226144986!2d77.61177131482192!3d12.965675090859776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1681b488b7af%3A0x8cc6c53d26053814!2sTismo%20Technology%20Solutions!5e0!3m2!1sen!2sin!4v1661860728498!5m2!1sen!2sin"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 widgets-column">


            <div class="textwidget">
                <p>Tismo Technology Solutions (P) Ltd.<br>
                    22/2 Palmgrove road<br>
                    Bangalore, 560047<br>
                    India</p>
                <p>General: +91 80 4091 3741<br>
                    Sales: +91 80 4173 8075</p>
                <p>email:&nbsp;<a href="mailto:engineering@tismotech.com" target="_blank"
                        rel="noopener noreferrer">engineering@tismotech.com</a></p>
            </div>

        </div>

        <div class="col-md-3 widgets-column">


            <div class="textwidget">
                <p>Tismo Technology Solutions (P) Ltd.<br>
                    T2-1A, Millennium&nbsp;City IT Park<br>
                    Salt Lake, Sector V<br>
                    Kolkata, 700091<br>
                    India</p>
                <p>email:&nbsp;<a href="mailto:engineering@tismotech.com">engineering@tismotech.com</a></p>
            </div>

        </div>

        <div class="col-md-3 widgets-column">

            <div class="textwidget">
                <p>Tismo Inc.<br>
                    1346 The Alameda, Suite 7-369<br>
                    San Jose, CA 95126-5006<br>
                    USA</p>
                <p>Tel: +1 408 786 5648</p>
                <p>email:&nbsp;<a href="mailto:engineering@tismotech.com">engineering@tismotech.com</a></p>
            </div>

        </div>

        <div class="col-md-3 widgets-column">



            <div class="textwidget">
                <p>Tismo Technology Solutions GmbH<br>
                    Am Seedamm 44, 60489 Frankfurt<br>
                    Germany</p>
                <p>Tel: +49 697 912 9840</p>
                <p>email:&nbsp;<a href="mailto:engineering@tismotech.com">engineering@tismotech.com</a></p>
                <p>&nbsp;</p>
            </div>
            <div class="socialbar small new-tab-links">

                <a href="https://twitter.com/tismotech" target="_blank" class="social outline rounded">
                    <span class="icon fa fa-twitter"></span>
                </a>

                <a href="https://www.linkedin.com/company/tismo-technology-solutions-p-ltd./" target="_blank"
                    class="social outline rounded">
                    <span class="icon fa fa-linkedin"></span>
                </a>
            </div>

        </div>
        <div class="clear"></div>
    </div>

    Tismo Technology Solutions &copy; 2022, All rights reserved.

</footer>