<div *ngIf="user; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <!-- <p class="bg-light text-dark">Id: {{product!.id}} Name: {{product!.name}} Price: {{product!.price}} Supplier
        ID:{{product!.supplier_id}}</p> -->
    <h3 class="text-center">User Details</h3>
    <div class="card bg-dark">
        <!-- <img src="{{product!.img_path}}" alt="" class="card-img-top"> -->
        <div class="card-body">
            <h5 class="card-title"> {{user!.username}}</h5>
            <p class="card-text">Id: {{user!.id}}</p>
            <p class="card-text">Email: {{user!.email}}</p>
            <p class="card-text">Password: {{user!.password}}</p>
            <p class="card-text">Role: {{user!.role}}</p>
            <!-- <p *ngIf="!supplier" class="card-text">Loading Supplier</p>
            <div *ngIf="supplier">
                <p class="card-text">Name: {{supplier!.name}}</p>
                <p class="card-text">Location: {{supplier!.location}}</p>
                <p class="card-text"> Supplier
                    ID:{{supplier!.id}}</p>
            </div> -->


        </div>
    </div>
</ng-template>
<ng-template #elseBlock>Select a Product to continue</ng-template>