<div>
    <div id="contactus">
        <br>
        <br>
        <span>Where we are</span>
        <br>
        <img src="assets/images/Map-1920x983-removebg-preview.png" width="50%" class="mx-auto d-block" alt="">
    </div>
    <br>
    <div id="stats">
        <div class="row align-items-center">
            <div class="col-md-4 text-center">
                <div id="statTitle">PROJECTS</div>
                <div id="statCounter">380 </div>
            </div>
            <div class="col-md-4 text-center">
                <div id="statTitle">CLIENTS</div>
                <div id="statCounter">151 </div>
            </div>
            <div class="col-md-4 text-center">
                <div id="statTitle">COUNTRIES</div>
                <div id="statCounter">15 </div>
            </div>
        </div>

    </div>
    <br>
    <div id="contactus">
        <span>Contact Us</span>


        <div id="contactform">
            <form #myForm="ngForm" class="ui form">
                <div class="mb-3">
                    <label for="name" class="form-label text-light">Name</label>
                    <input type="name" class="form-control" id="name" name="name" [(ngModel)]="name">

                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label text-light">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" name="phoneNumber" [(ngModel)]="phoneNumber">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-light">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="emailAddress" [(ngModel)]="emailAddress">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>


                <button type="submit" class="btn btn-primary" (click)="PrintDetails()">Submit</button>
            </form>

            <div>
                You Enquired For {{name}} {{phoneNumber}} {{emailAddress}}
            </div>
        </div>

    </div>
</div>