<div>
    <div id="title">
        <br>
        <br>
        <span>Where we are</span>
        <br>
        <img src="assets/images/Map-1920x983-removebg-preview.png" width="50%" class="mx-auto d-block" alt="">
    </div>
    <br>
    <div id="stats" style="padding: 5%;">
        <div class="row align-items-center container-fluid">
            <div class="col-md-4 text-center">
                <div id="statTitle">
                    <h3 style="font-size: 100%;">PROJECTS</h3>
                </div>
                <br>
                <div id="statCounter">380</div>
            </div>
            <div class="col-md-4 text-center">
                <div id="statTitle">
                    <h3 style="font-size: auto;">CLIENTS</h3>
                </div>
                <br>
                <div id="statCounter">151 </div>
            </div>
            <div class="col-md-4 text-center">
                <div id="statTitle">
                    <h3 style="font-size: auto;">COUNTRIES</h3>
                </div>
                <br>
                <div id="statCounter">15</div>
            </div>
        </div>

    </div>
    <br>
    <div id="contactus">
        <span>Contact Us</span>


        <div id="contactform">
            <form [formGroup]="myForm" class="ui form">
                <div class="mb-3">
                    <label for="name" class="form-label text-light">Name</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name">
                    <div *ngIf="submitted && f['name'].errors" class="text-danger">
                        <div *ngIf="f['name'].errors['required']"> Name is Required</div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label text-light">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                        formControlName="phoneNumber" required>
                    <div *ngIf="submitted && f['phoneNumber'].errors" class="text-danger">
                        <div *ngIf="f['phoneNumber'].errors['required']"> {{error}}</div>
                        <div *ngIf="!f['phoneNumber'].errors['required']">
                            <div *ngIf="f['phoneNumber'].errors['invalidPhone']">Phone Number must have 10 digits</div>
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="emailAddress" class="form-label text-light">Email address</label>
                    <input type="text" class="form-control" id="emailAddress" name="emailAddress"
                        formControlName="emailAddress">
                    <div *ngIf="submitted && f['emailAddress'].errors" class="text-danger">
                        <div *ngIf="f['emailAddress'].errors['required']"> Email ID is Required</div>
                        <div *ngIf="f['emailAddress'].errors['pattern']"> Email ID is not in required format</div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="feedback" class="form-label text-light">Feedback</label>
                    <!-- <input type="text" class="form-control" id="feedback" name="feedback"
                        aria-describedby="feedbackHelp" formControlName="feedback"> -->
                    <textarea name="feedback" id="feedbackText" cols="25" rows="5"
                        formControlName="feedback"></textarea>
                    <div *ngIf="submitted && f['feedback'].errors" class="text-danger">
                        <div *ngIf="f['feedback'].errors['required']"> Please provide a feedback</div>
                    </div>
                    <div id="feedbackHelp" class="form-text">We'll get back to you within 2 business days</div>
                </div>


                <button type="submit" class="btn btn-primary" id="contactButton"
                    (click)="OnSubmit(myForm.value)">Submit</button>
            </form>
            <br><br>

            <!-- <div>
                You Enquired For {{name}} {{phoneNumber}} {{emailAddress}}
            </div> -->
        </div>

    </div>
    <br><br><br>
    <div class="row justify-content-center mt-4 mb-4">

        <iframe class="w-50"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0965226144986!2d77.61177131482192!3d12.965675090859776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1681b488b7af%3A0x8cc6c53d26053814!2sTismo%20Technology%20Solutions!5e0!3m2!1sen!2sin!4v1661860728498!5m2!1sen!2sin"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>