<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" [routerLink]="['/add-product']">Add Product</a>
    <a class="nav-item nav-link" [routerLink]="['/add-supplier']">Add Supplier</a>
    <a class="nav-item nav-link" [routerLink]="['/update-product']">Update Product</a>
    <a class="nav-item nav-link active" [routerLink]="['/admin-view']">View Products</a>
    <a class="nav-item nav-link" [routerLink]="['/supplier-details']">View Suppliers</a>
  </nav>
<table class="table table-striped table-dark">
    <thead class="bg-dark text-white">
        <th scope="col">Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </thead>
<tbody id="products" class="text-white">
    <tr *ngFor="let p of arrProducts">
        <td>{{p.pName}}</td><td>{{p.price}}</td><td>{{p.supplier_id}}</td><td><img src={{p.img_path}} height="100px" width="100px"></td>
        <td>
            <button class="btn btn-primary" (click)="viewDetails(p.id)">View Details</button>
        </td>
        <td>
            <button class="btn btn-danger" (click)="deleteProduct(p.id)">Delete Product</button>
        </td>
    </tr>
</tbody>
</table>