<div class="container-fluid bg-dark text-light">
    <!-- <div class="row">
        Message from outer component {{msg}}
        <button class="btn btn-primary" (click)="emitEvent()">Send Message </button>
    </div> -->
    <!-- <form action="" class="">
        <input type="text" name="username" value="" #username>
        <input type="button" class=" btn btn-primary" (click)="emitEvent()" value="Submit">
    </form> -->
    <div class="row">
        <app-banner></app-banner>
    </div>
    <div class="row">
        <app-content></app-content>
    </div>
    <app-footer></app-footer>
</div>