<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
            role="tab" aria-controls="home-tab-pane" aria-selected="true">Products</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
            role="tab" aria-controls="profile-tab-pane" aria-selected="false">Users</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
            role="tab" aria-controls="contact-tab-pane" aria-selected="false">Suppliers</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <!-- <div class="row">
            <div class="col-md-6">
                <app-add-product></app-add-product>
            </div>
            <div class="col-md-6">
                <app-update-product></app-update-product>
            </div>
        </div> -->

        <app-products [isAdmin]="true"></app-products>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <!-- <div class="row">
            <div class="col-md-6">
                <app-add-user></app-add-user>
            </div>
            <div class="col-md-6">
                <app-update-user></app-update-user>
            </div>
        </div> -->
        <app-view-user></app-view-user>
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <!-- <div class="row">
            <div class="col-md-6">
                <app-add-supplier></app-add-supplier>
            </div>
            <div class="col-md-6">
                <app-update-supplier></app-update-supplier>
            </div>
        </div> -->

        <app-supplier-view></app-supplier-view>
    </div>

</div>