<div *ngIf="product; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{product!.img_path}} alt="Card image cap">
        <div class="card-body" style="color: black;">
          <h5 class="card-title">{{product!.name}}</h5>
          <p class="card-text" >Id: {{product!.id}}<br>Price: {{product!.price}} <br>Supplier
            ID:{{product!.supplier_id}}</p>
          <a routerLink="/admin" routerLinkActive="activebutton" class="btn btn-primary">Return</a>
        </div>
      </div>
</ng-template>
<ng-template #elseBlock>Select a Product to continue</ng-template>


