<p>product-details works!</p>
<span>Details of Product is {{currentProduct.id}} {{currentProduct.pName}} {{currentProduct.price}} {{currentProduct.supplier_id}}</span>
<table class="table table-striped table-dark">
    <thead class="bg-dark text-white">
        <th scope="col">Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Supplier Id</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </thead>
<tbody id="products" class="text-white">
    <tr>
        <td>{{currentProduct.id}}</td><td>{{currentProduct.pName}}</td><td>{{currentProduct.price}}</td><td>{{currentProduct.supplier_id}}</td>
        
    </tr>
</tbody>
</table>