<p>admin works!</p>
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link active" [routerLink]="['/add-product']">Add Product</a>
  <a class="nav-item nav-link" [routerLink]="['/add-supplier']">Add Supplier</a>
  <a class="nav-item nav-link" [routerLink]="['/update-product']">Update Product</a>
  <a class="nav-item nav-link" [routerLink]="['/admin-view']">View Products</a>
  <a class="nav-item nav-link" [routerLink]="['/supplier-details']">View Suppliers</a>
  <a class="nav-item nav-link" [routerLink]="['/user-view']">View Users</a>
</nav>

<!-- <app-view-user></app-view-user>
<app-add-product></app-add-product>
<app-add-service></app-add-service> -->

  <!-- <app-update-product></app-update-product> -->