$primaryColor: #86c232;
$primaryColorDark: #61892F;

.btn-primary {
  background-color: $primaryColorDark  !important;
  border-color: $primaryColor  !important;
}

.btn-outline-primary {
  border-color: $primaryColor  !important;
  color: $primaryColor  !important;

}

.btn-outline-primary:hover {
  color: #222 !important;
  background-color: #c3d3ad !important;
  border-color: #c3d3ad !important
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 .2rem rgba(179, 231, 148, 0.5)
}

footer a {
  color: $primaryColor;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2 {
  color: $primaryColor;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bordered{
  border : 1px dashed black;
  background-color: #eee;
}