.btn-primary {
  background-color: #61892F !important;
  border-color: #86c232 !important;
}

footer a {
  color: #86c232;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2 {
  color: #86c232;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}