// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tismo_electronics-primary: mat.define-palette(mat.$indigo-palette);
$tismo_electronics-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tismo_electronics-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tismo_electronics-theme: mat.define-light-theme((color: (primary: $tismo_electronics-primary,
        accent: $tismo_electronics-accent,
        warn: $tismo_electronics-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tismo_electronics-theme);

$primaryColor: #86c232;
$primaryColorDark: #61892F;

.btn-primary {
  background-color: $primaryColorDark  !important;
  border-color: $primaryColor  !important;
}

.btn-outline-primary {
  border-color: $primaryColor  !important;
  color: $primaryColor  !important;

}

.btn-outline-primary:hover {
  color: #222 !important;
  background-color: #c3d3ad !important;
  border-color: #c3d3ad !important
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 .2rem rgba(179, 231, 148, 0.5)
}

footer a {
  color: $primaryColor;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2 {
  color: $primaryColor;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bordered {
  border: 1px dashed black;
  background-color: #eee;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}