<div class="p-3 mb-2 bg-dark" style="height: 500px;width: 100%;">
    <!-- <div class="bg-light text-dark">
        Selected Product
    </div>
    <app-product-detail [product]="selectedProduct"></app-product-detail>


    <table class="table table-striped table-dark text-white">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">View Details</th>

        </thead>
        <tbody id="products" class="text-white">
            <tr *ngFor="let p of productsArray" class="align-middle">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
                <td>
                    <div class="card bg-dark" style="width: 18rem;">
                        <img src={{p.img_path}} class="card-img-top" alt="laptopimage">
                    </div>
                </td>
                <td><button class="btn btn-primary" (click)="onChangeProduct(p)">View Product</button></td>

            </tr>
        </tbody>
    </table>


    <form action="" class="">
        <input type="text" name="username" value="" #username>
        <input type="password" name="password" value="" #password>
        <input type="button" class=" btn btn-primary" (click)="onSubmit(username,password)" value="Submit">


    </form> -->
    <h1 class="text-center align-middle">Welcome to TISMO Electronics</h1>
</div>