<div *ngFor="let p of arrProducts">
    <span>{{p.pName}}</span>
    <span>{{p.price}}</span>
    <span>{{p.supplier_id}}</span>
    <img src={{p.img_path}} height="100px" width="100px">
    
</div>


<table class="table table-striped table-dark">
        <thead class="bg-dark text-white">
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
    <tbody id="products" class="text-white">
        <tr *ngFor="let p of arrProducts">
            <td>{{p.pName}}</td><td>{{p.price}}</td><td>{{p.supplier_id}}</td><td><img src={{p.img_path}} height="100px" width="100px"></td>
            <td>
                <button class="btn btn-primary" (click)="viewDetails(p.id)">View Details</button>
            </td>
            <td>
                <button class="btn btn-primary" (click)="addToCart(p)">Add to Cart</button>
            </td>
        </tr>
    </tbody>
</table>
<form class="ui large ">
    <label for="name" class="form-label">Name</label>
    <input name="userName" value="" id="name" #userName/>
    <input name="password" value="" id="name" #pwd/>
    <input type="button" value="submit" (click)="onSubmit(userName,pwd)"/>
    <!-- <button type="submit" class="btn btn-primary" (click)="onanother()">Submit</button> -->
</form>


<app-product-details [currentProduct]="CurrentProduct"></app-product-details>
<!-- <app-admin></app-admin> -->

<!-- <app-view-supplier [supplierId]="currsupplierID"></app-view-supplier> -->