<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" [routerLink]="['/add-product']">Add Product</a>
    <a class="nav-item nav-link" [routerLink]="['/add-supplier']">Add Supplier</a>
    <a class="nav-item nav-link" [routerLink]="['/update-product']">Update Product</a>
    <a class="nav-item nav-link" [routerLink]="['/admin-view']">View Products</a>
    <a class="nav-item nav-link active" [routerLink]="['/supplier-details']">View Suppliers</a>
  </nav>
<table class="table table-striped table-dark text-white">
    <thead class="bg-dark text-white">
        <th scope="col">User Id</th>
        <th scope="col">Name</th>
        <th scope="col">Password</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
    </thead>

<tbody id="suppliers" class="text-white">
    <!-- <tr> -->
    <tr *ngFor="let u of arrUsers">
        <!-- <td>{{currentSupplier.supplier_id}}</td><td>{{currentSupplier.name}}</td><td>{{currentSupplier.Phone}}</td> -->
        <td>{{u.id}}</td><td>{{u.user_Name}}</td><td>{{u.password}}</td><td>{{u.role}}</td>
        <td><button class="btn btn-danger" (click)="deleteUser(u.id)">Delete User</button></td>
    </tr>
</tbody>
</table>